
*{
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	background-color:green;
}
.container {
	width:100%;
	max-width:1000px;
	margin:0 auto;
}
.hero {
	background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/17/audience-1867754_960_720.jpg);
	width:100%;
	height:70vh;
	background-size:cover;
	background-position:center;
	overflow:hidden;
}
.hero h1 {
	text-align:center;
	font-size:72px;
	color:white;
	margin-top: 30vh;
	text-shadow: 2px 2px 2px black;
}
.song-text {
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction:column;
}
.song-text p {
	margin-top:10vh;
	text-align:left;
	width:40vh;	
}
footer {
	height:60px;
	width:100%;
	background-color:grey;
	margin:0;
	margin-top:10vh;
	padding:0;
}
footer h4 {
	text-align: center;
	color:white;
	text-transform: uppercase;
	font-size:18px;
	line-height:60px;
	margin:0;
	padding:0;
}